
.previewContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
    color:black;
    
}
.previewList{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
